// Literal Colors

$white: #fcfcfc;
$black: #292929;

$gray50: #e0e0e0;
$gray100: #cccccc;
$gray200: #b8b8b8;
$gray300: #a3a3a3;
$gray400: #8f8f8f;
$gray500: #7a7a7a;
$gray600: #666666;
$gray700: #525252;
$gray800: #3d3d3d;

$primary50: #eee0d6;
$primary100: #ffcaa5;
$primary200: #e5a97e;
$primary300: #fea05e;
$primary400: #fe7819;
$primary500: #ec6608;
$primary600: #d2661a;
$primary700: #826754;
$primary800: #774a2b;

$primary: $primary500;
$secondary: #2c60ab;
$green: #43cb75;
$background: #f2eeeb;

$title: $primary500;
$titleSecondary: $black;

$text: $gray800;
$textLight: $gray400;
