$white: #fcfcfc;
$black: #1b2430;

$gray50: #e0e0e0;
$gray100: #cccccc;
$gray200: #b8b8b8;
$gray300: #a3a3a3;
$gray400: #8f8f8f;
$gray500: #7a7a7a;
$gray600: #666666;
$gray700: #525252;
$gray800: #3d3d3d;

$blue: #3182ce;
$orange: #ed8936;
$green: #48bb78;
$red: #e53e3e;

$primary: #816797;
$secondary: #51557e;
$info: $blue;
$warning: $orange;
$success: $green;
$error: $red;
$background: #caccd8;

$title: $primary;
$titleSecondary: $black;

$text: $gray800;
$textLight: #cf95ff;
