@use 'styles/colors.scss';

.btn-primary {
  background: colors.$primary;
  border: 2px solid colors.$primary;
  color: colors.$white;
}

.btn-primary50 {
  background: colors.$primary50;
  border: 2px solid colors.$primary50;
  color: colors.$primary700;
}

.btn-secondary {
  background: colors.$secondary;
  border: 2px solid colors.$secondary;
  color: colors.$white;
}

.btn-outlined-primary {
  background: transparent;
  border: 2px solid colors.$primary;
  color: colors.$primary;

  &:hover {
    background: colors.$primary;
    color: colors.$white;
  }
}

.btn-outlined-primary50 {
  background: transparent;
  border: 2px solid colors.$primary;
  color: colors.$primary;

  &:hover {
    background: colors.$primary;
    color: colors.$white;
  }
}

.btn-outlined-secondary {
  background: transparent;
  border: 2px solid colors.$secondary;
  color: colors.$secondary;

  &:hover {
    background: colors.$secondary;
    color: colors.$white;
  }
}
