@use "sass:map";
@use "styles/typography.scss";
@use "styles/colors.scss";

.container-audio {
  display: grid;
  place-items: center;
  gap: 1rem;

  padding: 1rem;

  width: 100%;

  border: 1px solid colors.$gray500;
  border-radius: 6px;

  & > div {
    width: 100%;
    border-radius: 6px;

    & > p {
      color: colors.$black;

      & > span {
        color: colors.$primary;

        font-style: italic;

        font-size: map.get(typography.$sizes, "b2");
        font-weight: map.get(typography.$weights, "b2");
      }
    }

    & > audio {
      width: 100%;
    }
  }
}
