@use "sass:map";
@use "styles/colors.scss";
@use "styles/typography.scss";
@use "styles/breakpoints.scss";

.meanings-container {
  display: grid;
  gap: 1rem;

  width: 100%;
  height: 100%;
}

.buttons-container {
  display: grid;
  gap: 1rem;

  @include breakpoints.and-up(md) {
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  }
}
